/* Main CSS file for The Framing Lady website */

/* Master of Break custom font */
@font-face {
    font-family: masterOfBreak;
    src: url(../custom_fonts/master_of_break.ttf);    
}

/* Allena Script custom font */
@font-face {
	font-family: Alleana Script;
	src: url(../custom-fonts/Alleana Script.ttf)
}

.jumbotron {
	background-color: #F5F5F5;
	border: 2px solid black;
	border-radius: 20px;
	font-size: 18px;
}

.panel-footer {
	background-color: white;
}

#slogan {
	float: right;
	margin-top: 20px;
	font-family: Alleana Script;
	font-size: 48px;
	font-style: italic;
	font-weight: bold;
}

#menu {
	padding-left: 400px;
	float: right;
}

#menu a {
	font-family: cursive;	
	color: black;
	text-decoration: none;
	padding: 10px;
	font-size: 18px;
}

a:hover {
	font-weight: bold;
}

#main-text {
	float: right;
	padding-top: 150px; 
}

#intro-text {
	font-weight: bold;
	padding-top: 15px;
}

#credits {
	float: right;
}