/* Import main.css file */
@import url('main.css');

/* Custom CSS for testimonials.html file */
#testimonials-link {
	font-weight: bold;
}

#testimonials-table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

#testimonials-table th, td {
	padding: 5px;
}

#testimonials-table td:nth-child(3) {
	font-style: italic;
}