/* Import main.css file */
@import url('main.css');

/* Custom CSS for contact.html file */
#contact-link {
	font-weight: bold;
}

#business-location {
	width: 1030px;
	height: 450px;

	/* Responsive design */
	max-width: 100%;
	max-height: auto;
}

#contact-form {
	margin-top: 20px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 3px 3px;
}

#contact-form-inner {
	border: 1px solid black;
	border-radius: 15px;
	padding: 10px;	
}

input:focus {
	background-color: yellow;
}

#submit-button {
	border-radius: 15px;
	font-size: 18px;
	background-color: rgba(226, 19, 19, 0.45);	
}

#submit-button:active {
	background-color: rgba(95, 216, 14, 0.45);
}

#address {
	font-size: 14px;
}