/* Import main.css file */
@import url('main.css');

/* Custom CSS for portfolio.html file */
#portfolio-link {
	font-weight: bold;
}

a:hover {
	font-weight: normal;
}

.pic-info {
	font-family: Crab;
	font-size: 36px;
	position: absolute;
	bottom: 0px;
	padding: 20px 50px 0px 50px;
	width: 500px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(240, 240, 240, 0.75);	
}

#img-3, #img-4, #img-5, #img-6 {
	padding-top: 20px;
}