/* Import main.css file */
@import url('main.css');

/* Custom CSS for testimonials.html file */
#testimonials-link {
	font-weight: bold;
}

#testimonials-table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: auto;
	margin: auto;
}

#testimonials-table th {
	padding: 5px;
}

#testimonials-table td {
	padding: 2px;
}

#testimonials-table td:nth-child(3) {
	font-style: italic;
}

#submit-testimonial-button {
	background-color: rgba(0, 0, 0, 0.3);
	width: 485px;
	height: 30px;
	max-width: 100%;
	max-height: auto;
	padding-left: 5px;
	font-family: Arial;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 10px;
}

#submit-testimonial-button:active {
	background-color: rgba(95, 216, 14, 0.6);
}

#testimonials-form {
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 3px 3px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.2);
}

input:focus {
	background-color: yellow;
}

.fa-times {
	color: rgba(226, 19, 19, 0.6);
}

.fa-check {
	color: rgba(95, 216, 14, 0.6);
}

#submit-button {
	border-radius: 15px;
	font-size: 18px;
	background-color: rgba(226, 19, 19, 0.6);
}

#submit-button:active {
	background-color: rgba(95, 216, 14, 0.6);
}

#form-close-button {
	float: right;
	border-radius: 15px;
	font-size: 18px;
	color: black;
	margin-bottom: 20px;
}

#form-close-button:active {
	background-color: rgba(226, 19, 19, 0.6);
}